




<div id="newURLDiv">
	<form action="/new/" method="POST">
		New link:
		<input 
			name="newUrl[url]" 
			id="newUrl_url" 
			size="15"
			value="<%= @newUrl.url %>"
			onfocus="showDiv('newURLMoreDiv');"
		/>
		<input 
			type="submit" 
			value="Add"
			class="goAdd" 
			onclick="if(trimAll(document.getElementById('newUrl_url').value)==''){return false;}"
		/>
		<div id="newURLMoreDiv">
			Link description: 
			<input 
				name="newUrl[description]" 
				id="newUrl_description" 
				value="<%= @newUrl.description %>"
				size="30"
			/>
			<a class="goCancel" href="#" onclick="hideDiv('newURLMoreDiv');">&nbsp;</a>
		</div>
	</form>
</div>

