<div id="newURLDiv">
	<form action="/cats/new/" method="POST">
		New category:
		<input 
			name="new_cat" 
			id="new_cat" 
			size="15"
			onfocus="showDiv('newURLMoreDiv');"
		/>
		<input 
			type="submit" 
			value="Add"
			class="goAdd" 
		/>
		</div>
	</form>
</div>

