<div id="newURLDiv">
	<form action="/cats/new/" method="POST">
		New category:
		<input 
			name="new_cat" 
			id="new_cat" 
			size="15"
			onfocus="showDiv('newURLMoreDiv');"
		/>
		<button 
			type="submit" 
			title="Add"
			class="goAdd" 
		>Add
		</button>
	</form>
</div>
<script language="javascript">document.getElementById('new_cat').focus();</script>
